* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  position: relative;
  min-height: 100vh;
  
}
html {
  overflow-x: hidden;
}
h1 {
  color: white;
  font-family: "Pattaya", sans-serif;
}
p,
h2,
h3,
label {
  color: white;
  font-family: "poppins", sans-serif;
}
/* begin nav */
nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  height: 7.5vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #131c27;
  justify-content: space-between;
  position: absolute;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
}
li {
  font-size: 3rem;
  padding: 0 4rem 0 4rem;
  margin-right: 15rem;
}
a {
  color: white;
  text-decoration: none;
}
.navtitle {
  color: white;
  font-size: 3rem;
  margin-left: 2rem;
}
/* einde nav */
/* begin 1e pagina */
.header1 {
  text-align: center;
  width: 100%;
  padding-top: 40rem;
  font-weight: bold;
  font-size: 6rem;
}
.t1 {
  text-align: center;
  width: 100%;
  padding-top: 2em;
  font-weight: bold;
  font-size: x-large;
}
.page1 {
  background-image: url(img/landing-page.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
}
.button1 {
  padding: 2rem 6rem;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: #4c6e97;
  border: none;
  color: #ffffff;
}
.button {
  text-align: center;
}

/* einde 1e pagina */
/* begin 2e pagina */
.page2 {
  background-image: url(./img/new-york-page.png);
  background-size: contain;
  height: 100vh;
  color: white;
  background-color: grey;
}
.headerh2 {
  border-bottom: solid white;
  width: 15%;
  font-size: 3.5rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.header2 {
  font-weight: bold;
  color: white;
  padding-top: 40rem;
}
.t2 {
  font-size: 2.5rem;
  margin-left: 3rem;
}
/* einde 2e pagina */
/* begin 3e pagina */
.page3 {
  height: 100vh;
  width: 100vw;
}
.titlep3 {
  background-color: #131c27;
  height: 30vh;
  width: 100vw;
}
.header3 {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  padding-top: 4rem;
}
.t3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding-top: 3rem;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}
.headerp3 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 4rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.textp3 {
  color: black;
  font-size: 2rem;
  padding: 0 5rem;
  line-height: 3rem;
  text-align: center;
}
.departure {
  width: 20vw;
  height: 45vh;
  box-shadow: 0.3rem 0.5rem 6rem grey;
}
.departureimg {
  background-color: #131c27;
  height: 10vh;
  width: 20vw;
}
/* einde 3e pagina */
/* begin 4e pagina */
.page4 {
  height: 100vh;
  width: 100vw;
  background-image: url(./img/contact-mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactus {
  height: 60vh;
  width: 60vw;
  display: flex;

  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
}

.contacttitle {
  font-size: 8rem;
  padding-top: 5rem;
}
.name {
  color: white;
  margin-top: 6rem;
  font-size: 6rem;
}
.email {
  color: white;
  margin-top: 4rem;
  font-size: 6rem;
}
input {
  width: 16vw;
  font-size: 2rem;
  padding: 1.5rem 0 1.5rem 1rem;
}
.button2 {
  margin-top: 10.1rem;
  height: 10vh;
  width: 60vw;
  font-size: 2.5rem;
  background-color: #4c6e97;
  border-radius: 0rem 0rem 3rem 3rem;
  color: white;
  border: none;
}
/* einde 4e pagina */
/* footer */
footer {
  background-color: var(--color);
  background-color: #131c27;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 4rem;
  align-items: center;
  font-size: 2rem;
  height: 10vh;
  position: absolute;
  width: 100vw;
  bottom: 0;
}


footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  padding-right: 2rem;
  list-style-type: none;
}
.footer {
    padding-left: 2rem}

