* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.dropbtn {
  background-color: #00a8c7;
  color: white;
  padding: 0 4rem 0 4rem;
  font-size: 2.5rem;
  border: none;
  font-family: "Goldman", cursive;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.dropdown {
  position: relative;
  display: inline-block;


}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16rem;
  z-index: 1;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.dropdown-content a {
  color: #00a8c7;
  padding: 2rem 2rem;
  text-decoration: none;
  display: block;
  font-family: "Goldman", cursive;
  font-size: 2.5rem;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.dropbtn:hover {
  color: #00a8c7;
  
}
.dropdown:hover .dropbtn {
  color: #00a8c7;
}
html {
  background-color: black;
}

body {
  position: relative;
  min-height: 100vh;
}
p {
  color: white;
  font-size: 3rem;
  width: 50vw;
 
  font-weight: 400;
  height: 20vh;
  margin: 10rem 0rem 0rem 0rem;
}
.imgs_r {
 
  width: 30vw;
  height: 50vh;
  margin: 10rem;
}
.imgs_l {
 
  width: 30vw;
  height: 50vh;
  margin: 10rem;
}

h1 {
  color: white;
  font-size: 2rem;
  width: 80vw;
  height: 80vh;
}
h2 {
  color: white;
  left: 50%;
  text-align: center;
  font-size: 4rem;
  padding-top: 6rem;
}

.first {
  background-image: url(./img/hacker\ afbeelding.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
section {
  width: 100vw;
  height: 100vh;
}
.htmlcss1 {
  display: flex;
  padding: 2rem;
  padding-top: 7rem;
  padding-left: 3rem;
  
}
.javascript1 {
  display: flex;
  padding: 10px;
  padding-top: 7rem;
  padding-right: 20rem;
  
}

.php1 {
  display: flex;
  padding: 10px;
  padding-top: 7rem;
  padding-left: 20rem;
 
}
.sql1 {
  display: flex;
  padding: 10px;
  padding-top: 7rem;
  padding-right: 20rem;
}

footer {
  background-color: #00a8c7;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  margin-top: 3rem;
}
