h1{
  color: blue;
  font-size: 24px;
  font-style: oblique;
  font-weight: bold;


}
h2{
    color: #0000ff;
    font-weight: bold;
    font-size: 20px;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #4D4D4d;
}
p1{
    font-weight: bold;
    color: white;
}
a{
    color: #8A2BE2;
    text-decoration: none;
}
header{ 
    width: 100vw;
    height: 33vh;
    background-image: url("./img/W\ game.png");
    background-size: cover;
    
}
article{
    border: 2px solid;
    border-color: blue;
    border-left: 4px solid;
    border-radius: 25px;
}